#customer-details-title, #other-details-title, #sea-freight-charges-title, #local-charges-title{
    color: white!important;
}

#sea-freight-charges-title, #local-charges-title{
    background-color: #ED1C24;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
}

#local-charges-title{
    background-color: #1A2067;
}

#create-new-route:hover{
   background-color: #1A2067!important;
   color: white!important;
}
#save-and-print-btn:hover{
    background-color: #ED1C24!important;
    color: white!important;
}

#sea-freight-header{
    background-color: #2A388F!important;
    color: white!important;
    
}

#sea-freight-header .ant-collapse-header {
    color: white; /* Set the text color to white */
    font-weight: bold;
  }

  #sea-freight-subheader .ant-collapse-header {
    color: #2A388F;
  }
  #sea-freight-subheader-2 .ant-collapse-header {
    color: #2A388F;
  }
  #sea-freight-subheader-3 .ant-collapse-header {
    color: #2A388F;
  }
  #sea-freight-subheader-4 .ant-collapse-header {
    color: #2A388F;
  }

  #delete-btn-1, #delete-btn-2, #delete-btn-3, #delete-btn-4{
    color: #ED1C24!important;
  }

  #add-row-btn-1, #add-row-btn-2, #add-row-btn-3,  #add-row-btn-4{
    background-color: #ED1C24;
    color: white;
  }